---
import { Icon } from "astro-icon";

import { Ingredient } from '@utils/interfaces';

export interface Props {
	title: string;
	ingredients: Array<Ingredient>;
  time: number;
	href: string;
  image: string;
}

const { href, title, ingredients = [], image, time } = Astro.props;
function getIngredientsString(igredients) {
    let ingredients_string = '';
    igredients.forEach((element, index: number) => {
        let name = element.name.toLowerCase()
        if (index == 0)
            ingredients_string = name;
        else
            ingredients_string =  ingredients_string + ', ' +  name;
    });
    return ingredients_string;
}
---
<a href={href}>
  <div class="grid grid-cols-3 rounded-xl overflow-hidden bg-base-100 shadow-md bg-white sm:min-h-[200px]">
    <div class="col-span-1 min-h-full max-h-[220px] sm:h-[240px]">
      <figure class="h-full">
        {
        !image ? (
              <div class="bg-slate-100 w-full h-full flex">
                <div class="m-auto">
                  <Icon pack="mdi" name="camera-off-outline" class="inline-block" height="32" width="32" />
                </div>
              </div>
            ) : (
            <img class="h-full min-w-full flex-1 object-cover" src={image} alt={title}/>
            )
          }
      </figure>
    </div>
    <div class="col-span-2 flex flex-col justify-around px-2 py-3 sm:px-5 min-h-[170px] max-h-[220px] sm:min-h-full sm:h-[240px]">
      <div>
        <h2 class="line-clamp-2 tracking-tight font-sans text-2xl font-bold">{title}</h2>
        <div class="mt-4 text-orange-500 mb-3">
          <svg class="w-6 align-text-bottom  inline-block" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span class="align-text-baseline font-medium text-xl">{time} m</span>
          </div>
      </div>
      <div>
        <p class="text-orange-500 line-clamp-2 sm:line-clamp-3">{getIngredientsString(ingredients)}</p>
      </div>
    </div>
  </div>
</a>
