---
import type { HTMLAttributes } from 'astro/types'


interface Props extends HTMLAttributes<'input'> {
  type: string;
  name: string;
  label: string;
  value?: string;
  placeholder?: string;
}

const {
  type = "text",
  name,
  label,
  value,
  placeholder,
  ...attrs
} = Astro.props as Props;
---

<label
  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
  for={name}
>
  {label}
</label>
{
  type === "textarea" ? (
    <textarea
      id={"input-" + name}
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      type={type}
      placeholder={placeholder}
      {...attrs}
    />
  ) : (
    <input
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      id={"input-" + name}
      type={type}
      placeholder={placeholder}
      {...attrs}
    />
  )
}
