---
import { Ingredient } from '@utils/interfaces';

export interface Props {
    ingredients: Array<Ingredient>;
}

const { ingredients = [] } = Astro.props;

function getUnitTranslated(unit) {
    let translateUnit = '';
    switch(unit) {
    case "tablespoon":
        translateUnit = "tbsp";
        break;
    case "unit":
        translateUnit = "";
        break;
    default:
        translateUnit = unit;
        break
    }
    return translateUnit;
}
---


<div class="ingredient text-lg">
{
    ingredients.map((ingredient, index) =>(
        <div class="mb-4">
            <input 
                type="checkbox"
                id={`ingredient-${index}`} 
                name={ingredient.name} value={index}
            >
            <label 
                class="ml-1 hover:cursor-pointer" 
                for={`ingredient-${index}`}
            >
            {ingredient.quantity} {getUnitTranslated(ingredient.unit)} {ingredient.prefix} {ingredient.name}
            </label>
        </div>
    ))

}
</div>

<style>
.ingredient input[type="checkbox"] {
    @apply w-4 h-4 rounded text-primary hover:cursor-pointer shadow active:ring-offset-2 focus:ring-secondary-dark-ring focus:ring-offset-2 focus-visible:outline focus-visible:outline-2
}
</style>