---
import { type RecipeIngredient } from "@utils/interfaces";

export interface Props {
  RecipeIngredients: Array<RecipeIngredient>;
}

const { RecipeIngredients = [] } = Astro.props;

function getUnitTranslated(unit) {
  let translateUnit = "";
  switch (unit) {
    case "tablespoon":
      translateUnit = "cucharada";
      break;
    case "teaspoon":
     translateUnit = "cucharilla";
      break;
    case "unit":
      translateUnit = "";
      break;
    default:
      translateUnit = unit;
      break;
  }
  return translateUnit;
}
function prefix(recipeIngredient: RecipeIngredient) {
  let recipePrefix = recipeIngredient?.ingredient?.prefix || "";
  recipePrefix = recipePrefix.toLowerCase()
  if (recipePrefix.endsWith(" "))
    return recipePrefix
  return `${recipePrefix} `;
}
function name(recipeIngredient: RecipeIngredient) {
  let recipeName = recipeIngredient?.ingredient?.name || "";
  return recipeName.toLowerCase()
}

function getIngredientText(recipeIngredient: RecipeIngredient) {
  let quantity : number = recipeIngredient?.quantity || 1;
  let ingredient_fullname : string = prefix(recipeIngredient) + name(recipeIngredient);
  let unit = recipeIngredient?.unit || "al_gusto";
  if (unit === "al_gusto") return `${ingredient_fullname} al gusto`;
  let translatedUnit = getUnitTranslated(unit);
  return `${quantity} ${translatedUnit} ${ingredient_fullname}`
}
---

<div class="ingredient text-lg">
  {
    RecipeIngredients.map((recipeIngredient, index) => (
      <label class="mb-4 flex items-center gap-2 cursor-pointer">
        <input
          type="checkbox"
          id={`ingredient-${index}`}
          name={recipeIngredient.ingredient.name}
          value={index}
        />
        <span>{ getIngredientText(recipeIngredient) }</span>
      </label>
    ))
  }
</div>

<style>
  @reference "../../styles/global.css";
  .ingredient input[type="checkbox"] {
    @apply w-4 h-4 shrink-0 rounded-sm text-primary cursor-pointer shadow-xs active:ring-2 focus:ring-secondary-dark-ring focus:ring-2 focus-visible:outline-2;
  }
</style>
