---
import OptimizedImage from "@solidcomponents/OptimizedImage";

import type { 
  ImgSizes,
  RecipeInterface
} from "@utils/interfaces";
import { ImgSizeTypes  } from "@utils/interfaces";

import RecipeSidebar from "@astrocomponents/RecipeSidebar.astro";

export interface Props {
  recipe: RecipeInterface
}

const { 
  recipe
} = Astro.props;

const noImage = import.meta.env.PUBLIC_DEFAULT_IMAGE;

const image = (): string => {
  return recipe.image ? recipe.image : noImage;
};

const imageSizes = (): ImgSizes  => {
  return {
      sizes: [
        {
          size: 480,
          media: "(max-width: 480px) 480px",
        },
        {
          size: 720,
          media: "(max-width: 720px) 720px",
        },
        {
          size: 1080,
          media: "(min-width: 721px) 1080",
        }
      ]
    }
};
---

<div class="relative">
  <OptimizedImage
      lazyLoad={false}
      width={1080}
      height={220}
      classes={"w-full h-[128px] md:h-[256px] object-cover"}
      altTitle={recipe.title}
      filename={image()}
      sizes={imageSizes()}
      sizeType={ImgSizeTypes.width}
  />
  <div class="flex w-full h-full text-center text-white font-bold">
    <h1
      class="z-10 px-7 text-4xl sm:text-5xl md:text-7xl absolute left-0 right-0 top-1/2 -translate-y-1/2"
    >
      {recipe.title}
    </h1>
    <div
      class="overlay bg-black opacity-20 w-full h-full absolute top-0 left-0 right-0 bottom-0"
    >
    </div>
  </div>
</div>
<div
  class="sm:grid sm:grid-cols-2 md:grid-cols-3 justify-center gap-x-10 md:px-13 lg:gap-x-20 lg:px-15 py-6 px-12 xl:px-32"
>
  <div class="col-span-full">
    { recipe.status?.toLowerCase() === "draft" && 
      (
        <div class="mb-4 bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
          <div class="flex">
            <div class="py-1"><svg class="fill-current h-6 w-6 text-blue-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
            <div>
              <p class="font-bold">Receta en construcción</p>
              <p class="text-sm">Esta receta puede estar incompleta o contener errores. Estamos trabajando en mejorarla.</p>
            </div>
          </div>
        </div>
      )
    }
  </div>
  <div class="col-span-1 md:col-span-2">
    <slot />
  </div>
  <div class="col-span-1 g:m-0">
    <article>
      <RecipeSidebar recipe={recipe} />
    </article>
  </div>
</div>

<style is:global>
  article > h1,
  article > h2,
  article > h3,
  article > h4,
  article > h5 {
    margin-bottom: 1.25rem;
    margin-top: 1rem;
  }
  article > h1 {
    font-size: 3rem;
  }
  article > h2 {
    font-size: 2.25rem;
  }
  article > h3 {
    font-size: 1.8rem;
  }
  article > p {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
  article > ol li,
  article > ul li {
    font-size: 1.25rem;
    margin-left: 1.25rem;
    line-height: 2.5rem;
  }
  article > ol, ol {
    list-style: decimal;
  }
</style>
