---
import Link from "./Link.astro";
import IngredientsList from "./IngredientsList.astro";
import RecipeSidebarSection from "./RecipeSidebarSection.astro";

import { Recipe } from '../../utils/interfaces';

export interface Props {
    recipe: Recipe;
}

const { recipe } = Astro.props;

function getDomainName (url: string) {
    let domain_string = "";
    let domain = (new URL(url));
    domain_string = domain.hostname.replace('www.','').replace('youtu.be', 'youtube');
    return `${domain_string}`;
}

---

<div class="mt-5 sm:m-0">
    <div class="bg-white py-3 mb-12">
        <RecipeSidebarSection title="Tiempo de preparación:">
            <span class="text-2xl">{recipe.cooking_time} m</span>
        </RecipeSidebarSection>
        <RecipeSidebarSection title="Raciones:">
            <span class="text-2xl">{recipe.servings}</span>
        </RecipeSidebarSection>
        <RecipeSidebarSection title="Referencias">
            {
                (recipe.references.length == 0) ? <p>Sin referencias</p> :
                recipe.references.map((reference) => (
                    <Link target={"_blank"} icon={{name: 'ic:round-insert-link', side: 'left'}} text={getDomainName(reference)} href={reference} style={'primary'} />
                ))
            }
        </RecipeSidebarSection>
        <RecipeSidebarSection title="Ingredientes" >
            <div class="text-left">
                <IngredientsList ingredients={recipe.ingredients} />
            </div>
        </RecipeSidebarSection>
        <RecipeSidebarSection title="Tags" border={false}>
            <div class="mt-3">
                {
                    recipe.tags.map((tag) => (
                        <span class="inline-block bg-primary font-semibold text-white rounded px-3 py-2 mx-1 my-1 sm:my-3">{tag}</span>
                    ))
                }
            </div>
        </RecipeSidebarSection>
    </div>
</div>